ES_1_HOST=elasticsearch-node1
ES_2_HOST=elasticsearch-node2
REDIS_HOST=redis

ELASTIC_PORT=9200
REDIS_PORT=6379
TESTS_PORT=8081

CLUSTER_NAME=movie-cluster
STACK_VERSION=8.7.1
MEMORY_LOCK=true
ELASTIC_PORTS=9200:9200

TESTS_PORTS=8081:8081

MOVIES_URL=http://movies:8000/api/v1
AUTH_URL=http://auth:8000/auth/v1

POSTGRES_VERSION=13
POSTGRES_PORTS=5432:5432
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=123qwe
POSTGRES_DB=movies
POSTGRES_NAME=movies