redis==5.0.1
elasticsearch[async]==8.11.1
elasticsearch-dsl==8.11.0
fastapi==0.109.0
orjson==3.9.12
pydantic==2.5.3
pydantic-settings==2.1.0
uvicorn==0.12.2
uvloop==0.17.0 ; sys_platform != "win32" and implementation_name == "cpython"
psycopg2-binary==2.9.9
python-dotenv==1.0.0
